* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('src/SourceSansPro-Black.ttf');

}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color:#2C3E50;
    height: 60px;
    position: fixed;
    width: 100%;    
}

/*Contenedor de cabecera__logo; cabecera__buscador; cabecera__usaurio*/
.cabecera{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 100%;

    
}
/*codigo que comparten las 3 cajas de la cabecera, mencionados anteriormente*/
.cabecera__caja{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cabecera__logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
/*Inicio-Logo de la cabecera*/
.cabecera__logo a{
    text-decoration: none;

}

.cabecera__logo--text h1{
    color:white;
    font-size: 20px;

    
}

.cabecera__logo--img{
    height: fit-content;
    width: fit-content;


}

.cabecera__logo--text{
    height: fit-content;
    width: fit-content;

}
/*Fin-Logo de la cabecera*/

/*Inicio-Buscador de la cabecera*/
.cabecera__buscador{
   display: flex;

}

.cabecera__buscador--input{
    height: 40px;
    width: 90%;

}

.cabecera__buscador--button{
    height: 40px;
    width: 40px;
}


.cabecera__buscador--input input{
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border:0;
    padding: 0 5px;
    outline: none;

}

.cabecera__buscador--button button{
    width: 100%;
    height: 100%;
    background-color:#5DADE2 ;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;

}

/*Efectos del buscador*/
.cabecera__buscador button:hover{
    background-color: #2874A6;

}

/*Fin-Buscador de la cabecera*/


/*Inicio-Login&Signin*/
.cabecera__usuario {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cabecera__usuario--img{
    height: fit-content;
    width: fit-content;

}

.cabecera__usuario--text{
    height: fit-content;
    width: fit-content;

}

.cabecera__usuario--text {
    display: inline-block;        

}

.cabecera__usuario--text a{
    text-decoration: none;
    color: white;
    margin: 5px;

}
/*Efectos*/
.cabecera__usuario--text a:hover{
    color:orange;
    transition: all .3s;
}

/*Fin-Login&Signin*/

/*Inicio-Menu de navegacion*/
.menu{	
    background-color: #F39C12;
    list-style: none;
    display: flex;
    justify-content: center;
} 


.menu li{
    display: inline-block;
    margin: 4px;
    
    
}

.menu li a{
    text-decoration:none;
    color:white;
    display: block;
    
}

/*SubMenu de navegacion*/
.menu__subMenu li{ 
 display: block;
}

.menu__subMenu{
    position: absolute;
    display: none;
    list-style: none;
    background-color: #283747;
    
    
}

/*Efectos*/
.menu li:hover .menu__subMenu{
    display: block;

}

.menu li a:hover{
    color:#566573;
    transition: all .3s;

}
.menu__subMenu li a:hover{
    color: orange;
   } 


/*Fin-Menu de navegacion*/   


/*Inicio-Cuerpo principal de la pagina*/
main{
    display:flex;   
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 120px;
    
}


/*Inicio-Seccion categorias*/
section{
    background-color:#F2F4F4 ;
    width:50%;
    box-shadow: 0 0 1px black;
    border-radius: 5px;
    padding: 0px;
   
}

/*codificando la seccion categoria*/
.categorias{
    margin: 15px;
    overflow: hidden;

}


.categorias__cabecera{
    padding: 5px;

}

.categorias__cuerpo{
    display:flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    padding: 20px;
}

/*codificando las cartas de la seccion categoria*/
.categorias__cuerpo--card{
    width: 100px;
    box-shadow: 0 0 1px black;
    border-radius: 5px;
    background-color: white;
  
}

.categorias__cuerpo--card a{
    text-decoration: none;

}

.categorias__cuerpo--cardImg{
    width: 70px;
    height: 70px;
    padding: 20px;
    
}

.categorias__cuerpo--cardText{
    background-color: black;
    border: 1px solid black;
    padding: 10px;
}

.categorias__cuerpo--cardText p{
    color: white;
    text-align: center;

}

/*Efectos*/
.categorias__cuerpo--cardText:hover{
    background-color: #626567;
    transition: all .3s;


}

/*Fin-Seccion categorias*/
.aboutus{
    text-align: center;
    width: 50%;
	padding:50px;
    color: #212F3D;
   
} 

/*Inicio-Seccion Acerca de nosotros*/
.aboutus__titulo h4{
    font-size: 32px;

}

.aboutus__titulo{
    overflow: hidden;

}

.aboutus__text p{
    font-size: 16px;
    margin: 20px;

}

/*Fin-Seccion acerca de nosotros*/

/*Inicio-Pie de pagina*/
footer{
    height: 100px;
    width: 100%;
    background-color: #17202A;
    text-align: center;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

footer a{
    text-decoration: none;
    color: #ABB2B9;
    margin: 10px;

}

/*Efectos*/
footer a:hover{
    color:orange;
    transition: all .3s;

}
/*Fin-Pie de pagina*/

 /*Media queries*/ 
     @media(max-width: 480px){
     /*Cabecera*/   
        /*OCultar Logo*/
        .cabecera__logo--text{
            display: none;

        }

        /*Ocultar usuario*/
        .cabecera__usuario--text{
            display: none;

        }


        .cabecera{
            grid-template-columns: 1fr 3fr 1fr;

        }

        .menu_imgChevronDown img{
           display: none;

        }
     }

     @media(max-width:780px){
        main{
            padding: 120px 0;

        }

        section{
            width: 100%;

        }

        .aboutus{
            font-size: 8px;

        }

       

        }


     


     



 


























